<style>
	
	.leftSide{
		
	
		padding: 20px;
		padding-top: 0px;
		
	}
	.heading{
		color: white;
	}
	.outerRight{
		padding-left: 15px;

	}
	.rigthSide{
	
	border: 3px solid whitesmoke;
	margin-bottom: 15px;


	}
	#teamImage{
		width: 650px;
		height: 380px;
		border: 5px solid whitesmoke;
	}
	p{
		margin-top: 20px;
	}
	.centerBlock {
	display: table;
	margin: 0 auto;
	border: 1px solid whitesmoke;
	padding: 20px;
	padding-right: 25px;
	
}


@media screen and (max-width: 500px){
		#teamImage{
		width: 350px;
		height: 250px;
		border: 5px solid whitesmoke;
		}
	  }
	  p{
	  	font-size: 16px;
	  }
	.test{
		padding: 0px 20px 0px 20px;
	}
</style>
<h1 class="heading">Icon Motors</h1>
<div class="container-fluid">
	<div class="row test">
		<div class="col-xs-12 col-md-6 leftSide">
			<img id="teamImage" src="images/team.jpg">
		
	</div>
	   <div class="outerRight">
			<div class="col-xs-12 col-md-6 centerBlock">
				<p>
					
					<strong>With years of experience serving East Bay California, </strong> Icon Motors is dedicated to offering high-quality, pre-owned vehicles to our customers.
					<br><br>
					
					Our goal is for you to be so delighted with your vehicle purchase that you'll come see us when you need your next car and will happily recommend us to friends and family. Customer referrals are the ultimate compliment.
					<br><br>
					With many vehicle shopping options available, we differentiate ourselves by understanding our local car-buying community and satisfying its needs; helping valued local customers like you, find the vehicle that's the "right fit".
					<br><br>
					
				</p>
			</div>
	</div>
</div>
<br><br>