<style>
	
.footer{
 background: #2c3e50;
 color: whitesmoke;
 text-align: center;
 
 padding: 30px;
}
#bottombottom{
	background: #233140;
	height: 50px;
	text-align: center;
	padding: 15px;
}
#socialdiv{
height: 90px;
background: #eee;
padding: 15px;
padding-left: 75px;
border-top: 1px solid gray;
 
  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 8, 0, 0.19);
 

}
.bottomlink{
	font-size: 18px;
}
p{
	margin-top: 5px;
}
a{
	border: none;
}


.fa-twitter:before {
    content: "\f099";
    color:green;
	font-size: 35px;

}
.fa-google-plus:before {
    content: "\f0d5";
    color:green;
	font-size: 35px;
}
.fa-facebook-f:before, .fa-facebook:before {
    content: "\f09a";
     
    color:green;
	font-size: 35px;
	padding: 0px 10px 0px 10px;
}

.socialbuttonf{
	border-radius: 1800Px;
} 
.socialbuttong{
	border-radius: 1800Px;
} 
.socialbuttont{
	border-radius: 1800Px;
}
#bottombottom{
	color: #eee;
}

</style>
<div id="socialdiv">
			<ul class="list-inline">
				<li><button class="btn btn-default socialbuttonf"> <a href="#"><i class="fa fa-facebook"></i></a></button></li>
				<li> <button class="btn btn-default socialbuttong"><a href="#"><i class="fa fa-google-plus"></i></a></button></li>
				 <li> <button class="btn btn-default socialbuttont"><a href="#"><i class="fa fa-twitter"></i></a></button></li>
			</ul>
		</div>
<div class="footer">
	<div class="container-fluid">
		
		<div>
		<span>1200 Thornton Avenue Newark CA 94541</span>
		<p>sales@iconmotors.com <span> <strong>|</strong> </span> 510-227-1870</p>
		<span class="bottomlink"> <strong>|</strong></span><span class="bottomlink"> Home</span> <span class="bottomlink"><strong> | </strong></span> <span class="bottomlink"> Sell My Car</span> <span class="bottomlink"> <strong>|</strong> </span> <span class="bottomlink"> Financing</span><span class="bottomlink"><strong> |</strong> </span> <span class="bottomlink"> About Us</span><span class="bottomlink"> <strong>|</strong> </span> <span class="bottomlink"> Contact Us</span><span class="bottomlink"><strong> |</strong> </span><span class="bottomlink"> <a href="#/privacy">Privacy Policy</a></span> <span class="bottomlink"> <strong>|</strong></span><p>Copyright © 2016 Icon Motors Inc.</p><br>
		</div>
		
	</div>
	<div id="bottombottom">
	<strong>www.WebCroc.com</strong>
	</div>

</div>